# Compiled class file
*.class

# Log file
*.log

#Ignore Docker Compose override file (used for local configurations)
docker-compose.override.yml

# Ignore environment files (store sensitive credentials separately)
.env
# BlueJ files
*.ctxt
.properties

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
script/borough_postcodes.py
script/data/income_by_borough.csv
script/data/lisings_new.csv
script/data/postcodes_lookup.csv
script/data/time_dim.csv
notebooks/requirements.txt
notebooks/requirements.txt
notebooks/requirements.txt
notebooks/data/ward_names.csv
notebooks/requirements.txt
notebooks/data/time_dim_clean.csv
notebooks/data/list_new_clean.csv
notebooks/data/lisings_new.csv
notebooks/data/time_dim.csv
notebooks/data/postcodes_lookup.csv
notebooks/data/income_by_borough.csv
notebooks/data/postcodes_lookup_clean.csv
notebooks/data/income_by_borough_clean.csv
notebooks/data/crime_rate_clean.csv
notebooks/data/employment_clean.csv
notebooks/data/gcse_clean.csv
notebooks/data/reasonable_listings.csv
notebooks/requirements.txt
notebooks/requirements.txt
